.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#pokemonCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanhos iguais */
  gap: 20px; /* Espaço entre os cards */
  margin-top: 20px; /* Espaço superior */
}

.card {
  background-color: #333333; /* Fundo escuro */
  color: #ffffff; /* Texto claro */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 15px; /* Espaçamento interno */
  text-align: center; /* Centralizar conteúdo */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 150px; /* Define uma largura fixa para as imagens */
  height: 150px; /* Define uma altura fixa */
  object-fit: cover; /* Garante que a imagem ocupe todo o espaço, cortando se necessário */
  margin-bottom: 10px; /* Espaço entre a imagem e o texto */
}

.card h3 {
  font-size: 1.2rem;
  color: #ffffff; /* Texto claro */
  margin: 10px 0;
}

.card p {
  font-size: 0.9rem;
  color: #f0f0f0; /* Cinza bem claro */
}

.todo-container {
  margin-top: 20px;
  text-align: center; /* Centraliza o texto dentro do contêiner */
}

.todo-container ul {
  list-style: none;
  padding: 0;
  margin: 0 auto; /* Centraliza a lista dentro do contêiner */
  max-width: 400px; /* Define uma largura máxima */
}

.todo-container li {
  padding: 10px;
  margin: 5px auto; /* Centraliza os itens individualmente */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.todo-container li:hover {
  background-color: #fad72c;
}

.input-group {
  display: flex;
  align-items: center; /* Alinha verticalmente o input e o botão */
  gap: 10px; /* Espaço entre o input e o botão */
  justify-content: center; /* Centraliza o grupo na página */
}

.input-group input[type='text'] {
  height: 40px; /* Define uma altura consistente */
  padding: 5px 10px; /* Adiciona espaçamento interno */
  border: 1px solid #ddd;
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 1rem;
  flex: 1; /* Permite que o input ocupe mais espaço, se necessário */
  max-width: 300px; /* Define uma largura máxima */
}

.input-group button {
  height: 40px; /* Mesma altura do input */
  padding: 0 15px; /* Espaço interno para o botão */
  font-size: 1rem;
  border-radius: 5px;
}

.explanation-box {
  background-color: #333333; /* Fundo cinza escuro */
  border-left: 4px solid #fad72c; /* Borda destacada */
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  color: #ffffff; /* Texto claro */
  line-height: 1.5;
}
