main {
  flex: 1;
  margin: 20px auto;
  width: 90%;
  max-width: 500px;
}

h2 {
  color: #45474b;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.lesson-list {
  padding: 0;
}

.lesson-list li {
  list-style: none;
  margin: 10px 0;
}

.lesson-list li a {
  display: block; /* O link ocupa todo o espaço do botão */
  padding: 15px; /* Espaçamento interno mais equilibrado */
  background-color: #45474b;
  color: #fad72c; /* Texto claro */
  text-decoration: none; /* Remove sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  font-weight: bold; /* Texto em negrito */
  text-align: center; /* Centraliza o texto */
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

.lesson-list li a:hover {
  background-color: #fad72c; /* Fundo amarelo ao passar o mouse */
  color: #45474b; /* Texto escuro para contraste */
  transform: scale(1.1); /* Eleva levemente o botão */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Realça a sombra */
}

.about-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #45474b; /* Fundo escuro */
  color: #fad72c; /* Texto amarelo */
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}

.about-link:hover {
  background-color: #fad72c; /* Fundo amarelo ao passar o mouse */
  color: #45474b; /* Texto escuro */
  transform: translateY(-3px); /* Eleva levemente o botão */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Realça a sombra */
}
